@font-face {
    font-family: 'OrhonChaganTig';
    src: url('../fonts/OrhonChaganTig.eot');
    src: url('../fonts/OrhonChaganTig.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OrhonChaganTig.ttf') format('truetype'); 
}

@primary-color: #f80b0b;